/* Base styling for the container */
*{
    font-family: "Fjalla One", sans-serif; 
}
.back-to-top {
    position: fixed;
    right: 20px;           
    bottom: 50%;           
    transform: translateY(50%); /* Adjusts for perfect centering */
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #050505; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
    transition: background-color 0.3s; /* Smooth background transition */
}

.back-to-top:hover {
    background-color: #555; 
}

/* Base styling for the brand navigation */
.brand-nav {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f5f5f5; 
    padding: 10px 0;
    box-sizing: border-box;
}

/* Styling for the brand letters */
.brand-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Space between letters */
    justify-content: center;
}

.brand-letters span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;    /* Diameter of each circle */
    height: 30px;   /* Diameter of each circle */
    border-radius: 50%; /* Makes the element circular */
    background-color: #e0e0e0;
    font-size: 1em;
    font-weight: bold;
    color: #333; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.brand-letters span:hover {
    background-color: #ccc; 
}
.box1 {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 217, 212);
    box-sizing: border-box;
    margin-bottom: 30px;
}
.box3 {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: rgb(212, 217, 212);
    box-sizing: border-box;
    margin-bottom: 20px;
}
.box2 {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: rgba(168, 187, 165);
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Flexbox for the image and title section */
.image-title {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-bottom: 15px;
}

/* Styling for the image */
.image-title img {
    width: 280px; 
    height: auto;
    border-radius: 8px;
}

/* Title and description styling */
.title-text .title {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

.title-text p {
    font-size: 24px;
    margin: 5px 0 0;
}

/* About section styling */
.about-text .about-title {
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.about-text p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}